/* Lexend */
@font-face {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 300;
  src: url('./assets/fonts/Lexend-300.ttf') format('truetype');
  font-display: swap;
}
@font-face {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/Lexend-400.ttf') format('truetype');
  font-display: swap;
}
@font-face {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/fonts/Lexend-700.ttf') format('truetype');
  font-display: swap;
}
@font-face {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 900;
  src: url('./assets/fonts/Lexend-900.ttf') format('truetype');
  font-display: swap;
}

/* OpenDyslexic */
@font-face {
  font-family: 'OpenDyslexic';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/OpenDyslexic-Regular.woff2') format('woff2');
  font-display: swap;
}
@font-face {
  font-family: 'OpenDyslexic';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/fonts/OpenDyslexic-Bold.woff2') format('woff2');
  font-display: swap;
}
@font-face {
  font-family: 'OpenDyslexic';
  font-style: italic;
  font-weight: 400;
  src: url('./assets/fonts/OpenDyslexic-Italic.woff2') format('woff2');
  font-display: swap;
}
@font-face {
  font-family: 'OpenDyslexic';
  font-style: italic;
  font-weight: 700;
  src: url('./assets/fonts/OpenDyslexic-BoldItalic.woff2') format('woff2');
  font-display: swap;
}
